<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Panel</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{ url_for('static',filename= 'fonts/material-icon/css/material-design-iconic-font.min.css') }}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ url_for('static',filename= 'css/style1.css') }}">
</head>
<body>

    <div class="main" style="margin-top: -100px;box-shadow: 3px 0px 5px #d4cece;">

        <!-- Sign up form -->
        <section class="signup" style="text-shadow: 3px 3px 5px #d4cece">
            <div class="container" style="text-shadow: 3px 3px 5px #d4cece">
                {% if msg == 0 %}
                    <p style="margin-left: 380px;">Invalid Current Password...</p>
                {% endif %}
                <div class="signup-content">
                    <div class="signup-form">
                        <h3 class="form-title" style="font-size: 26px;">Update Password</h3>
                        <form method="POST" class="register-form" id="register-form" action="/change-password">
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="curr_pass" id="pass" placeholder="Current Password" style="text-shadow: 3px 3px 5px #d4cece"/>
                            </div>
                            
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="new_pass" id="pass" placeholder="New Password" style="text-shadow: 3px 3px 5px #d4cece"/>
                            </div>
                            
                            
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Update" style="text-shadow: 3px 3px 5px #d4cece;font-weight: 600;font-size: 15px;"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image" style="margin-top: -20px;">
                        <figure><img src="{{ url_for('static',filename= 'img/signin-image.png') }}" alt="sing up image" style="box-shadow: 3px 0px 5px #d4cece;"></figure>
                        
                    </div>
                </div>
            </div>
        </section>

        

    </div>

    <!-- JS -->
    <script src="{{ url_for('static',filename= 'vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename= 'js/main.js') }}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>